# built binary
Nyanners
Nyanners.exe
libcurl-x64.dll
libNyanners.ThirdParty.a

# cmake stuff
cmake_stuff
CMakeFiles
build
CMakeCache.txt
cmake_install.cmake
out
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
*.png
vendor
.ninja_*
build.ninja

# personal
CMakePresets_old.json
certs
Testing
.cmake

# imgui
imgui.ini

# cloned projects
vendor/libs
vendor/luau
vendor/raylib
vendor/imgui
vendor/rlimgui
vendor/tinyfiledialogs