# built binary
Nyanners

# cmake stuff
cmake_stuff
CMakeFiles
build
CMakeCache.txt
cmake_install.cmake
out
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
*.png
vendor

# personal
CMakePresets_old.json
certs
Testing
.cmake

# imgui
imgui.ini

# cloned projects
vendor/libs
vendor/luau
vendor/raylib
vendor/imgui
vendor/rlimgui
vendor/tinyfiledialogs